@import url("https://fonts.googleapis.com/css2?family=Allura&family=Outfit:wght@100..900&family=Satisfy&display=swap");
/* Signup Page Main Container */
.signup_page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000; /* background dark */
}

/* Form Container */
.signup_form {
  width: 350px;
  border: 1px solid #3e3c3c;
  padding: 30px;
  border-radius: 6px;
  text-align: center;
  background-color: #121212;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Instagram Heading */
.instagram_heading h1 {
  font-family: "Allura", cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
}

/* Intro Text */
.signup_text {
  color: #8e8e8e;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Facebook Login Section */
.facebook_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.facebook_login a {
  color: #487df0;
  font-weight: 600;
  text-decoration: none;
}

/* OR Divider */
.or_section {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #c5c5c5;
  font-size: 13px;
}

.or_section .line {
  flex: 1;
  height: 1px;
  background-color: #3f3e3e;
  margin: 0 10px;
}

/* Form Inputs */
.form_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_section input {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #646262;
  border-radius: 4px;
  background-color: #111;
  color: #fff;
}

.form_section input:focus {
  border-color: #a8a8a8;
  outline: none;
}

.form_section button {
  background-color: #0095f6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.form_section button:hover {
  background-color: #1877f2;
}

/* Info Text */
.info_text {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 15px;
}
.info_text a {
  color: #1877f2;
  text-decoration: none;
}
/* Terms Text */
.terms_text {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 10px;
}
.terms_text a {
  color: #1877f2;
  text-decoration: none;
}
/* Register Section Box */
.register_section {
  border: 1px solid #494747;
  border-radius: 6px;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  background-color: #111;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.register_section p {
  color: #ede9e9;
  font-size: 14px;
}

/* Register Link */
.register_section a {
  color: #0095f6;
  font-weight: 600;
  text-decoration: none;
}

.register_section a:hover {
  text-decoration: underline;
}
/* Stop Chrome autofill white background */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1a1a1a inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
.error_text {
  color: #ff3b30;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  text-align: center;
}
