.create-post-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.create-post-container {
  background: rgb(0, 0, 0);
  padding: 30px;
  border: 1px solid #353535;
  border-radius: 8px;
  width: 700px;
  height: 500px;
}

.create-post-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: azure;
}

.create-post-container form input,
.create-post-container form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #000000;
  font-size: 14px;
  color: azure;
}

.create-post-container form textarea {
  resize: none;
  height: 100px;
}

.create-post-container form button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.create-post-container form button:hover {
  background-color: #0073e6;
}
