@import url("https://fonts.googleapis.com/css2?family=Allura&family=Outfit:wght@100..900&family=Satisfy&display=swap");
.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.instagram_pro_img img {
  width: 500px;
  height: 500px;
  margin-right: 40px;
}

.login_form {
  padding: 40px 30px;
  width: 350px;
  text-align: center;
  border-radius: 8px;
}

.instagram_heading h1 {
  font-family: "Allura", cursive;
  font-size: 80px;
  margin-bottom: 40px;
  color: #dbdbdb;
}

.form_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_section input {
  background-color: black;
  padding: 10px;
  border: 1px solid #828282;
  border-radius: 4px;
  font-size: 14px;
  color: antiquewhite;
}
.error_text {
  color: #ff3b30; /* Red color */
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  text-align: center;
}
.form_section button {
  background-color: #333fe7;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.or_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: #bab9b9;
}

.line {
  height: 1px;
  width: 100px;
  background-color: #3e3d3d;
  margin: 0 10px;
}

.facebook_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.facebook_login a {
  color: #5f82cd;
  font-weight: bold;
  text-decoration: none;
}

.forgot_password {
  display: block;
  color: #eaebed;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.register_section {
  margin-top: 15px;
  padding-top: 15px;
}
.register_section p {
  color: aliceblue;
}
.register_section link {
  color: #0095f6;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 768px) {
  .login_page {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .instagram_pro_img {
    display: none;
  }

  .login_form {
    width: 90%;
    margin: 0 auto;
  }

  .instagram_heading h1 {
    font-size: 60px;
  }
}
